# Node modules
node_modules/


public/videos/*.mp4
# Build output
dist/
build/

# Vite cache
.vite/

# Log files
npm-debug.log*
yarn-error.log*

# Local environment files
.env
.env.local
.env.production
.env.*

# Editor-specific settings (optional)
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
