body {
  font-family: var(--font-family);
}


.sign-img {
  width: 4rem;
  max-height: 60px;
  margin-left: 12px;
  object-fit: contain;
}

.sidelink {
  text-decoration: none;
  margin-top: 26px;
  cursor: pointer;
  padding: 6px;
  border-radius: 4px;
  margin-top: 8px;
  list-style: none;
  margin-left: 0px;
  margin-right: 8px;
}
.sidelink:hover {
  background: #679ff96f;
  /* color:white; */
}
.sidelink-active { text-decoration: none;
  margin-top: 26px;
  cursor: pointer;
  padding: 6px;
  border-radius: 4px;
  margin-top: 8px;
  list-style: none;
  margin-left: 0px;
  margin-right: 8px;
  background-color: #3f84f3;
  color: white;
}

.correct{
  color: green;
}

.not-correct{
  color: red;
}
